* {
display: block;  
margin: 0;  
box-sizing: border-box; 
margin-block-start: 0; 
margin-block-end: 0; 
font-family: 'Montaga', serif;
}

body {
  width: 100%; 
  margin: 0;
  color: #FFFFFF;
}

header {
width: 100%; 
font: 175% #689F38; 
font-variant: small-caps;  
}

.navbar-brand h1 {
margin-block-start: 0; 
margin-block-end: 0; 
font-size: 175%; 
color: #FFFFFF;
text-shadow: 3px 3px -3px #BCAAA4;
line-height: .75em;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

main {
  background-color: #D7CCC8;
}

main h1 {
  color: #FFFFFF;
  padding: 50px;
}

.chicken {
background-color: #B2DFDB;
padding: 50px;
color: #FFFFFF;   
}

.col-xs-12 {
  margin-left: 50px;
  margin-right: 50px;
}  
  
