* {
display: block;  
margin: 0;  
box-sizing: border-box; 
margin-block-start: 0; 
margin-block-end: 0; 
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
width: 100%; 
font: 175% #689F38; 
font-variant: small-caps; 
text-align: center;
}

.navbar {
background-color: #66CC66;
border: double #CCFF99 2px;
}
