* {
display: block;  
margin: 0;  
box-sizing: border-box; 
margin-block-start: 0; 
margin-block-end: 0; 
font-family: 'Montaga', serif;
}

body {
  width: 100%; 
  margin: 0;
  color: #FFFFFF;
  background-color: #D7CCC8;
}

header {
width: 100%; 
font: 175% #689F38; 
font-variant: small-caps; 
text-align: center;
}

#header-nav {
background-color: #6B4226;
border: 0;
border-radius: 0;
}

.navbar-brand h1 {
margin-block-start: 0; 
margin-block-end: 0; 
font-size: 125%; 
color: #FFFFFF;
text-shadow: 2px 2px 2px #BCAAA4;
line-height: .75em;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
