* {
display: block;  
margin: 0;  
box-sizing: border-box; 
margin-block-start: 0; 
margin-block-end: 0; 
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {width: 100%; margin: 0;}

header {
width: 100%; 
font: 175% #689F38; 
font-variant: small-caps; 
text-align: center;
}

.navbar {
background-color: #66CC66;
border: 0;
border-radius: 0;
}

h2 {margin-block-start: 0; margin-block-end: 0; font-size: 125%; color: #FFFFFF; text-align: center; border: 1px solid #000000;}
